<header>
  <nav>
    <a href="/{{ pathPrefix }}/">Home</a>
    <a href="/blog/page/0">Blogs</a>
    <a href="/about/page/0">About</a>
    <a href="/{{ pathPrefix }}/destinations">Destinations</a>
    <a href="{{ pathPrefix }}/labs">Labs</a>
    <a href="{{ pathPrefix }}/lab02">Lab-02</a>
    <a href="{{ pathPrefix }}/contact">Contact</a>
  </nav>
  <link rel="stylesheet" href="/css/style.css">
</header>
