<header>
  <nav>
    <a href="{{ baseurl }}/">Home</a>
    <a href="/blog/page/0">Blogs</a>
    <a href="/about/page/0">About</a>
    <a href="{{ baseurl }}/destinations">Destinations</a>
    <a href="{{ baseurl }}/labs">Labs</a>
    <a href="{{ baseurl }}/lab02">Lab-02</a>
    <a href="{{ baseurl }}/contact">Contact</a>
  </nav>
  <link rel="stylesheet" href="/css/style.css">
</header>
